/*Start Header*/
.header{
  justify-content: space-around;
  min-height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;

}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.menu p{
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;

}
a{
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  margin-right: 10px;

}
.right__menu{
  display: flex;
  align-items: center;
}
.menu-icon{
  font-size: 37px;
}

.burgernav{
  cursor: pointer;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 300px;
  z-index: 16;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  transition: transform 0.2s ease-in;
}
.burgernav li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.burgernav li a {
  font-weight: 600;
}
.close{
  display: flex;
  justify-content: flex-end;
}

/*End Header*/

/*Start Home*/
.container{
  height: 100vh;
}
/*end Home*/

/*Start Section*/
.container__section{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/model-s.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section__text{
  padding-top: 15vh;
  text-align: center;
}

.btn-group{
  display: flex;
  margin-bottom: 30px;
}

.btn-group button{
  background-color: rgba(23, 26, 32, 0.8);
  height: 40px;
  width: 256px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  opacity: 0.85;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  margin: 8px;
}

.btn-group button:last-child{
  background-color: white;
  opacity: 0.65;
  color: black;
}

.down__arrow{
  margin-top: 20px;
  height: 40px;
  cursor: pointer;
  animation: animateDown infinite 1.5s;
  display: flex;
  justify-content: center;
}

@media (max-width:786px) {
  .btn-group{
    flex-direction: column;
  }

  .menu{
    display: none;
  }
 
}

/* sectwo */
.container__section__two{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/model-y.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container__section__three{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/model-3.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container__section__four{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/model-x.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container__section__five{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/solar-panel.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__section__six{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/solar-roof.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__section__seven{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/accessories.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* end sectwo */

/*End Section*/
